<title>ユキヒロー速報</title>
<h1>ユキヒロー速報</h1>
<p> yukkyをどこかで見つけたら書き込もう！ </p>
<blockquote> yukkyが決めたこと <br>
  その1: 週に4日は研究室にくる <br>
  その2: 11時には研究室にくる <br>
  その3: 午前に授業のある場合は、授業後に研究室にくる <br>
  その4: アルバイトのある日は15:30まで勉強頑張る
</blockquote>
<%= form_for(@new_data, :url => { :action => "add" }) do |f| %>
  <%= f.text_area :desc, :maxlength => "140" %>
  <%= f.submit("Add") %>
<% end %>
<hr><hr>
<table>
  <tr>
    <th>Time</th>
    <th>Desc</th>
  </tr>
  <% if ! @yukky.nil? %>
    <% @yukky.each do |json| %>
      <tr id="<%= json['id'] %>">
        <td><%= json['created_at'] %></td>
        <td class='desc'><%= json['desc'] %></td>
      </tr>
    <% end %>
  <% end %>
</table>
